@import url('https://fonts.googleapis.com/css2?family=Roboto:display=swap');

.App {
  text-align: center;
}

body{
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
}

.form{
  max-width: 380px;
  padding: 15px 35px 45px;
  border-radius: 4px;
  box-shadow: 0 0 30px rgb(0 0 0 / 10%);
  margin: 60px auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

#form-title{
  margin-bottom: 30px;
  font-weight: bolder;
  font-size: 27px;
  color: #5390F5;
}

.label-form{
  color: #727272;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}

.input-form{
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  transition: 0.3s ease;
}

.btn-form{
  outline: none;
  background: #4285F4;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.msg-form{
  color: #494949;
  font-weight: 500;
  display: block;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  height: 1px;
  background-color: #dadada;
}

#home{
  margin: 100px;
}

#home button{
  width: 180px;
}